---
layout: default
---

		<!-- ABOUT -->
		<div class="erling_tm_section clearfix" id="about" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
			<div class="erling_tm_about">
				<div class="container">
					<div class="about_inner">
						<div class="left wow fadeInLeft" data-wow-duration="1s">
							<img src="{{page.image}}"/>
						</div>
						<div class="right wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
							<div class="erling_tm_title">
								<h3>{{page.title}}</h3>
							</div>
							<div class="text">{{content}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /ABOUT -->