---
layout: default
---
  
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{page.title}}",
      "image": [
        "{{site.url}}{{page.image}}"
        ],
      "author": [{
          "@type": "Person",
          "name": "Sviata Beauty",
          "url": "{{site.url}}"
        }]
    }
</script>

		<!-- ABOUT -->
		<div class="erling_tm_section clearfix" id="about" itemscope itemtype="http://schema.org/Article">
			<div class="erling_tm_about">
				<div class="container">
					<meta itemprop="author" content="Sviata Beauty"/>
					<div class="about_inner">
						<div class="left wow fadeInLeft" data-wow-duration="1s">
							<img itemprop="image" src="{{page.image}}"/>
						</div>
						<div class="right wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
							<div class="erling_tm_title">
								<h3 itemprop="headline">{{page.title}}</h3>
							</div>
							<div class="text" itemprop="articleBody">{{content}}</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Yandex.RTB R-A-5846127-5 -->
            <div id="yandex_rtb_R-A-5846127-5"></div>
		</div>
		<!-- /ABOUT -->
